/* ヘッダーのデザイン設定 */
#header{
    display: flex;
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;
    align-items: center; /* 上下中央揃え。必要に応じて調整 */
    background-color:rgb(105, 112, 108); 
    z-index: 1000;
    border-radius:0 0 20px 20px;
}
.logo{
    margin-left:100%;
    font-size: 250%;
    font-family:'Times New Roman';
    color: #ffffff;
    text-decoration: none;
}
.hamburger{
    margin-left: 85%;
    width:80px;
    height:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.hamburger span {
  display: block;
  width: 100%; 
  height: 8px;
  background: #f5f2f2;
  border-radius: 4px;
}

.menu {
  pointer-events: none; /* クリックできない状態に */
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0.5s;
  position: fixed; top: 0; right: 0;
  width: 300px;
  height: 100vh;
  background-color:rgb(148, 161, 154); 
  z-index: 100;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
}
.menu.show {
  pointer-events: auto;  /* クリックできるように */
  transform: translateX(0);
}
.menu h2{
 font-size:300%;
 font-family:'Times New Roman';
 color: #000000;
}
.menu ul{
  font-size: 200%;
  color: #ffffff;
}
.menu li{
  background-color: #ffffff;
  margin-top: 10px;
  border-radius:8px;
  color: #ffffff;
}

/* メインのデザイン設定 */

h2{
    color: #f84747;
    text-decoration: underline;
    font-size:xx-large;
    
}



/*main*/
#main{ 
  margin-top: 10%; 
  display: flex;
  align-items: center;        /* 縦方向も中央揃えにしたい場合 */
  justify-content: space-between; /* 左右のスペースをめいっぱい使いたい場合 */
}
.p{
  display: flex;              /* 横並びにする */
}

.myself{
    width: 100%;
    justify-self:left;
}
.p ul{
    font-size:xx-large;
}

.logo2{
    margin-left: 5%;
    width: 80%;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
}
ul {
  list-style-type: none;
}


/* フッターのデザイン設定 */
#footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}